In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import gkey

In [6]:
# Import cities file into the cities_pd DataFrame
file = "../Resources/Cities.csv"

cities_df = pd.read_csv(file)
cities_df.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [8]:
# Add columns for lat, lng, airport name, airport address, airport rating.
cities_df['Lat'] = ""
cities_df['Lng'] = ""
cities_df['Airport Name'] = ""
cities_df['Airport Address'] = ""
cities_df['Airport Rating'] = ""
# Hint: Be sure to specify "" as the initial value for each column.

cities_df.head()

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating
0,New York City,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [12]:
params = {"key":gkey, "address": "Chicago,Illinois"}
base_url  = "https://maps.googleapis.com/maps/api/geocode/json?"
response = requests.get(base_url, params=params)
response_json = response.json()
response_json

{'results': [{'address_components': [{'long_name': 'Chicago',
     'short_name': 'Chicago',
     'types': ['locality', 'political']},
    {'long_name': 'Cook County',
     'short_name': 'Cook County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Illinois',
     'short_name': 'IL',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']}],
   'formatted_address': 'Chicago, IL, USA',
   'geometry': {'bounds': {'northeast': {'lat': 42.023131,
      'lng': -87.52366099999999},
     'southwest': {'lat': 41.6443349, 'lng': -87.9402669}},
    'location': {'lat': 41.8781136, 'lng': -87.6297982},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 42.023131, 'lng': -87.52366099999999},
     'southwest': {'lat': 41.6443349, 'lng': -87.9402669}}},
   'place_id': 'ChIJ7cv00DwsDogRAMDACa2m4K8',
   'types': ['locality', 'political']}],
 'status': 'OK'}

In [22]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`
params = {"key":gkey, "address": "Place"}

for index, row in cities_df.iterrows():
    city = row["City"]
    state = row["State"]
    
    params["address"] = f"{city},{state}"
    
    base_url  = "https://maps.googleapis.com/maps/api/geocode/json?"
    response = requests.get(base_url, params=params)
    response_json = response.json()
    lat = response_json["results"][0]["geometry"]["location"]["lat"]
    lng = response_json["results"][0]["geometry"]["location"]["lng"]
    
    cities_df.loc[index,"Lat"] = lat
    cities_df.loc[index,"Lng"] = lng

In [23]:
cities_df.head()

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating,New York City,New York
0,New York City,New York,40.712775,-74.005973,,,,NaN,NaN
1,Los Angeles,California,34.052234,-118.243685,,,,NaN,NaN
2,Chicago,Illinois,41.878114,-87.629798,,,,NaN,NaN
3,Houston,Texas,29.760427,-95.369803,,,,NaN,NaN
4,Philadelphia,Pennsylvania,39.952584,-75.165222,,,,NaN,NaN

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears